{% include 'lab4_NavigationBar.html' %}

<style>
  .card {
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: rgb(243, 219, 202);
    width: 40%;
    margin: 0 auto;
    float: none; 
    margin-bottom: 100px; 
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 2, 2, 0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  </style>


{% for Notes in Notes %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-header">
      {{ Notes.judul }}
    <p class="card-text">Penerima : {{ Notes.toReceiver }}</p>
    <p class="card-text">Pengirim : {{ Notes.fromSender }}</p>
    <p class="card-text">{{ Notes.messagesSender }}</p>
    <br>
  </div>
</div>
</div>
{% endfor %}
<!-- Referensi : https://getbootstrap.com/docs/4.0/components/card/# & https://www.w3schools.com/howto/howto_css_cards.asp --