{% load static %}
{% include 'lab4_NavigationBar.html' %}

<h3>Note Form</h3>
<style> 
    input[type=text] {
      width: 100%;
      padding:3px 10px;
      margin: 12px 0;
      box-sizing: border-box;
    }
</style>
<hr>

<form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit">

</form>

<!-- Referensi : https://www.w3schools.com/css/css_form.asp -->