{% include 'lab4_NavigationBar.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
  background-color: rgb(235, 235, 235);
}
      table, th, td {
        border:2px solid rgb(4, 113, 156);
      }
      </style>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <body>
    <table style="width:100%">
      <tr>
        <th>Penerima</th>
        <th>Pengirim</th>
        <th>Judul Pesan</th>
        <th>Pesan</th>
      </tr>
      <!-- TODO loop from note model -->
      <!-- EXAMPLE SECTION -->
          {% for f in Notes %}
          <tr>
            <td>{{ f.toReceiver }}</td>
            <td>{{ f.fromSender }}</td>
            <td>{{ f.judul }}</td>
            <td>{{ f.messagesSender }}</td>
          </tr>
          {% endfor %}
      <!-- END SECTION -->
    </table>
  </body>
</html>

<!-- Referensi: https://www.w3schools.com/html/html_tables.asp -->