{% load static %}

<!DOCTYPE html>
<html>
<body>

<div class="Navigation">
    <a href="/lab-4">Index</a></li>
    <a href="/lab-4/add-note">Add Note(Form)</a></li>
    <a href="/lab-4/note-list">Note List (Card)</a></li>
</div>

</body>
</html>