<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <body>
    <table>
      <tr>
        <th>toReceiver</th>
        <th>fromSender</th>
        <th>judul</th>
        <th>messagesSender</th>
      </tr>
      <!-- TODO loop from note model -->
      <!-- EXAMPLE SECTION -->
          {% for f in Notes %}
          <tr>
            <td>{{ f.toReceiver }}</td>
            <td>{{ f.fromSender }}</td>
            <td>{{ f.judul }}</td>
            <td>{{ f.messagesSender }}</td>
          </tr>
          {% endfor %}
      <!-- END SECTION -->
    </table>
  </body>
</html>